

<div> <hr> </div> -->
<link rel="stylesheet" href="/styles/footer.css">
<footer class="helper">

    <div class="imglogo"><img src="/images/cuisine23.png" alt=""></div> 

    <div >
       
         <p>All &copy;2021 Are Reserved By Coding Astronauts</p> 
        </div>  

    <div>
    <ul class="footerli ">
        <li> <a href="https://www.yahoo.com" id="link1"><i class="fas fa-envelope-square fig"></i></a></li>
        <li> <a href="https://www.twitter.com"id="link2"><i class="fab fa-twitter fig"></i></a></li>
        <li> <a href="https://www.github.com"id="link3"><i class="fab fa-github-alt fig"></i></a></li>
        <li> <a href="https://www.linkedin.com"id="link4"><i class="fab fa-linkedin fig"></i></a></li>
    </ul>
</div>

  </footer>

