<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodish</title>
    <!-- favicon -->
    <link rel="icon" href="logoused.ico" type="image/x-icon">
    <!-- style -->
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/main.css">
    
    <link rel="stylesheet" href="/styles/nutrients.css">
    

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


</head>
<body>
<!-- Start header -->

<header>
        <div class="menu-toggle" id="hamburger">
            <i class="fas fa-bars"></i>
        </div>
        <div class="overlay"></div>
        <div class="container">
            <nav>
                
                <img  class="brand" src="images/cuisine23.png" alt="logo">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/searchByRecipe">Recipe</a></li>
                    <li><a href="/nutrientsPage">Nutrients</a></li>
                    <li><a href="/addRecipe">Share Your Recipe</a></li>                   
                    <li><a href="/GuessByDishName">Guess By Dish</a></li>
                    <li><a href="#">About us</a></li>
                </ul>
            </nav>
        </div>
</header>



