<div id="addedRecipies">
        
    <h3><%= (userRecipe) ? userRecipe.username : ''  %>  </h3> 
    <h4><%= (userRecipe) ? userRecipe.recipename : '' %>  </h4>
    <p><%= (userRecipe) ? userRecipe.recipedetails : ''  %> </p>
    
</div>