<html>
<%- include('./layout/header')  %> 

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/styles/aboutus.css">

<body>

<main>
    <h1 class="heading"> Our Team </h1>
    <section id ="containerOfCards">
<div class="Profilecard">
  <center>
    <img src="/images/anwar.jpeg" alt="image">
    <h2>Anwar Shraideh</h2>
    <p>Software Enginner</p>
    
    <a href="#"><button style="background: #4267B2;"><i class="fa fa-facebook"></i></button></a>
    <a href="#"><button style="background: #1DA1F2;"><i class="fa fa-twitter"></i></button></a>
    <a href="#"><button style="background: #e4405f;"><i class="fa fa-instagram"></i></button></a>
    <a href="#"><button style="margin-right: 0; background: #0e76a8;"><i class="fa fa-linkedin"></i></button></a>
    
  </center>
</div>

<div class="Profilecard1">
     <center>
      <img src="/images/sewar.jpeg" alt="image">
      <h2>Sewar Maqableh</h2>
      <p>Software Enginner</p>
      
      <a href="#"><button style="background: #4267B2;"><i class="fa fa-facebook"></i></button></a>
      <a href="#"><button style="background: #1DA1F2;"><i class="fa fa-twitter"></i></button></a>
      <a href="#"><button style="background: #e4405f;"><i class="fa fa-instagram"></i></button></a>
      <a href="#"><button style="margin-right: 0; background: #0e76a8;"><i class="fa fa-linkedin"></i></button></a>
      
    </center>
  </div>


  <div class="Profilecard2">
     <center> 
      <img src="/images/dawood.jpeg" alt="image">
      <h2>Dawood Abu Zahra</h2>
      <p>Software Enginner</p>
      
      <a href="#"><button style="background: #4267B2;"><i class="fa fa-facebook"></i></button></a>
      <a href="#"><button style="background: #1DA1F2;"><i class="fa fa-twitter"></i></button></a>
      <a href="#"><button style="background: #e4405f;"><i class="fa fa-instagram"></i></button></a>
      <a href="#"><button style="margin-right: 0; background: #0e76a8;"><i class="fa fa-linkedin"></i></button></a>
      
     </center> 
  </div>

  <div class="Profilecard3">
    <center> 
      <img src="/images/yassss.jpeg" alt="image">
      <h2>Yasmin Al-khateeb </h2>
      <p>pharmacy</p>
      
      <a href="#"><button style="background: #4267B2;"><i class="fa fa-facebook"></i></button></a>
      <a href="#"><button style="background: #1DA1F2;"><i class="fa fa-twitter"></i></button></a>
      <a href="#"><button style="background: #e4405f;"><i class="fa fa-instagram"></i></button></a>
      <a href="#"><button style="margin-right: 0; background: #0e76a8;"><i class="fa fa-linkedin"></i></button></a>
      
     </center> 
  </div>

  <div class="Profilecard4">
     <center> 
      <img src="/images/omraaan.jpeg" alt="image">
      <h2>Emran Aloul </h2>
      <p> Mechanical Engineering</p>
      
      <a href="#"><button style="background: #4267B2;"><i class="fa fa-facebook"></i></button></a>
      <a href="#"><button style="background: #1DA1F2;"><i class="fa fa-twitter"></i></button></a>
      <a href="#"><button style="background: #e4405f;"><i class="fa fa-instagram"></i></button></a>
      <a href="#"><button style="margin-right: 0; background: #0e76a8;"><i class="fa fa-linkedin"></i></button></a>
      
     </center> 
  </div>
</section>

</main>

</body>
</html>