<%- include('./layout/header')  %> 


    <form action="/GuessByDishNameres" method="POST">
        <label for="Guess">Dish Name</label>
        <input type="text" name="Guess" ><br><br>
        <button type="submit">SHOW</button>
    </form>

</body>

    </html>
    
