<%- include('./layout/header') %>

    <link rel="stylesheet" href="/styles/GuessStyle.css">

    <body>
        <main>

            <form class="Guess" action="/GuessByDishNameres" method="POST">
                <legend>Ingredient Box</legend>
                <input type="text" name="Guess" placeholder="Enter Ingredient"><br><br>
                <button type="submit">SHOW</button>

            </form>
        </main>




    </body>
    <%- include('./layout/footer') %>

        </html>