
<%- include('./layout/header')  %> 
<!-- End header -->
<!-- Slide start  -->
<main style="height: 104%;">
    <!-- <base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/"> -->
    <div id="slider">
       
    <figure>
        <img src="/images/slider/slider4.jpg" alt>
        <img src="/images/slider/slider2.jpg" alt>
        <img src="/images/slider/slider3.jpg" alt>
        <img src="/images/slider/slider1.jpg" alt>
        <img src="/images/slider/food-712665_960_720.jpg" alt>
        <link rel="stylesheet" href="/styles/homepage.css">

    </figure>
    <!-- <div id="intro">
        Welcome to Foodish!
    </div> -->
</div>
<section id="in1">
<p class="intro">The main idea for the website is to enable users to search for recipes according to some specification, like recipes for vegetarian or vegan diets, or recipes with specific nutritional specifications like the amount of carbs or the amount of fat and so on. Also the user can share his own recipes as well, and write recipes reviews.</p>
</section>
  
<!-- <hr class="separator" /> 
<hr class="separator separator--line" /> -->
<hr>
    <!-- start recipes
    <!-- first one  -->
    <div class="hh">
		<span id="span1">Healthy </span>
		<span>Alternative</span>
	</div>   
    <section id="filpcards">

    <div id="gradient-card" class="card">
        <img id="filpimg" src="images/carrot Juice.jpeg" alt="">
        <h2>Carrot Juice</h2>
            <div class="gradient">
                <h4 id="hflib">Nutrition</h4> 
                <ul>
                    <li id="ulfilp">Calories: 94 kilocalories</li>
                    <li id="ulfilp">Protein: 2.24 grams (g) </li>
                    <li id="ulfilp">fat : 0.35 g </li>
                </ul>
                <h4 id="hflib">Vitamins and minerals, including:</h4>
                <ul >
                    <li id="ulfilp">potassium : 689 milligrams (mg) </li>
                    <li id="ulfilp">vitamin C : 20.1 mg of  </li>
                </ul>
                <h3 class="backflip">Popular fact</h3>
                <p id="ulfilp" >Eating carrots to a 26% lower risk of stomach cancer .</p>
            </div>
        </div>
    </div>

    <div id="gradient-card" class="card">
        <img id="filpimg" src="images/cardwal.jpg" alt="">
        <h2>Walnuts</h2>
            <div class="gradient2">
                <h4 id="hflib">Nutrition</h4> 
                <ul>
                    <li id="ulfilp">Calories: 185</li>
                    <li id="ulfilp">Water: 4%</li>
                    <li id="ulfilp">Protein: 4.3 grams</li>
                    <li id="ulfilp">Sugar: 0.7 grams</li>
                </ul>
                <h4 id="hflib">Vitamins and minerals, including:</h4>
                <ul >
                    <li id="ulfilp">Copper</li>
                    <li id="ulfilp">Folic acid</li>
                    <li id="ulfilp">Phosphorus </li>
                    <li id="ulfilp">Vitamin E </li>
                </ul>
                <h3 class="backflip">Popular fact</h3>
                <p id="ulfilp" >They have been associated with a reduced risk of heart disease and cancer, as well as improved brain function.</p>
            </div>
        </div>
    </div>
    <div id="gradient-card" class="card">
        <img id="filpimg" src="images/cardEgg1.jpg" alt="">
        <h2>Egg</h2>
        <div class="gradient3">
            <h4 id="hflib">Nutrition</h4> 
            <ul>
                <li id="ulfilp">Calories: 78</li>
                <li id="ulfilp">Protein: 6.29 g</li>
                <li id="ulfilp">Total fat: 5.3 g</li>
            </ul>
            <h4 id="hflib">vitamins and minerals, including:</h4>
            <ul >
                <li id="ulfilp">Calcium: 25 milligrams (mg)
                </li>
                <li id="ulfilp">Potassium: 63 mg </li>
                <li id="ulfilp">Cholesterol: 186 mg </li>
                <li id="ulfilp">Vitamin A </li>
                <li id="ulfilp">Vitamin D  </li>
            </ul>
            <h3 class="backflip">popular fact</h3>
            <p id="ulfilp" >Several research studies have tested the nutritional value of eggs as part of the daily diet.</p>
        </div>
    </div>
</div>
</section>
<section id="filpcards" class="sec2">
<div id="gradient-card" class="card">
    <img id="filpimg" src="images/cardpom1.jpg" alt="">
    <h2>Pomegranate juice</h2>
    <div class="gradient4">
        <h4 id="hflib">Nutrition</h4> 
        <ul>
            <li id="ulfilp">Calories: 135</li>
            <li id="ulfilp">Protein: 1 gram</li>
            <li id="ulfilp">Fat: 0 grams</li>
            <li id="ulfilp">Sugar: 30 grams</li>
        </ul>
        <h4 id="hflib">Vitamins and minerals, including:</h4>
        <ul >
            <li id="ulfilp">Vitamin C</li>
            <li id="ulfilp">Iron </li>
            <li id="ulfilp">Calcium</li>
            <li id="ulfilp"> Potassium </li>
        </ul>
        <h3 class="backflip">Popular fact</h3>
        <p id="ulfilp" >Pomegranate juice recently made a splash when researchers found that it may help stop the growth of prostate cancer cells.
        </p>
    </div>
</div>
</div>
<div id="gradient-card" class="card">
    <img id="filpimg" src="images/chocolate.jpg" alt="">
    <h2>Chocolate oats dessert</h2>
    <div class="gradient5">
        <h4 id="hflib">Nutrition</h4> 
        <ul>
            <li id="ulfilp">Calories 155Kcal</li>
            <li id="ulfilp"> Fat 9.34g</li>
            <li id="ulfilp">sugars 10.64g</li>
            <li id="ulfilp"> Protein 2.02g</li>
        </ul>
                <h4 id="hflib">Vitamins and minerals, including:</h4>
                <ul >
                    <li id="ulfilp">Vitamin A</li>
                    
                </ul>
                <h3 class="backflip">popular fact</h3>
                <p id="ulfilp" >oats and oatmeal  include weight loss, lower blood sugar levels and a reduced risk of heart disease. </p>
            </div>
        </div>
    </div>
    <div id="gradient-card" class="card">
        <img id="filpimg" src="images/lamb.jpg" alt="">
        <h2>Lamb Meat</h2>
        <div class="gradient6">
            <h4 id="hflib">Nutrition</h4> 
            <ul>
                <li id="ulfilp">Calories: 258</li>
                    <li id="ulfilp">Water: 57%</li>
                    <li id="ulfilp">Protein: 25.6 grams</li>
                    <li id="ulfilp">Sugar: 0 grams</li>
                    <li id="ulfilp">Fat: 16.5 grams</li>
                </ul>
                <h4 id="hflib">Vitamins and minerals, including:</h4>
                <ul >
                    <li id="ulfilp">Vitamin B12</li>
                    <li id="ulfilp">Zinc</li>
                    <li id="ulfilp">Phosphorus </li>
                    <li id="ulfilp">Iron</li>
                </ul>
                <h3 class="backflip">Popular fact</h3>
                <p id="ulfilp" >very important for maintaining muscle mass.</p>
            </div>
        </div>
    </div>
    
    </section>

    <hr>
    <!-- <hr class="separator" /> 
<hr class="separator separator--line" /> -->
    <!-- start recipes
    <!-- first one  -->
    <div class="hh">
		<span id="span1">Users </span>
		<span>reviews</span>
	</div>   
    
    <section id="review">
        <div class="cardreview">
            <input type="radio" name="select" id="slide_1" checked>
            <input type="radio" name="select" id="slide_2">
            <input type="radio" name="select" id="slide_3">
            <input type="checkbox" id="slideImg">
            
            <div class="slider">
                <label for="slide_1" class="slide slide_1"></label>
                <label for="slide_2" class="slide slide_2"></label>
              <label for="slide_3" class="slide slide_3"></label>
            </div>
          
            <div class="inner_part">
              <label for="slideImg" class="img">
                <img class="img_1" src="images/oat soup.jpeg">
              </label>
              <div class="content content_1">
                <div class="title">Oat Soup</div>
                <div class="text">
                    This soup is amazing, it is a nice, hearty soup that tastes even better the longer it sits. Even my kids are now eating oats and enjoying it as well. 
                </div>
                
                <div id="stars">
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>                    
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>                   
                </div>
              </div>
            </div>
          
            <div class="inner_part">
              <label for="slideImg" class="img">
                <img class="img_2" src="images/cardBeet.jpg">
              </label>
              <div class="content content_2">
                <div class="title">Beetroot Salad</div>
                <div class="text">
                    This recipe tastes so good and refreshing, it is a great alternative to the traditional salad. The flavors are so well blended together. 

                </div>
                
                <div id="stars">
                    <i class="fa fa-star"></i>                   
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>                    
                    <i class="fa fa-star checked"></i>
                </div>
              </div>
            </div>
          
            <div class="inner_part">
              <label for="slideImg" class="img">
                <img class="img_3" src="images/1379610487273.jpeg">
              </label>
              <div class="content content_3">
                <div class="title">Honey Soy Grilled Salmon with Edamame</div>
                <div class="text">
                    The natural richness of salmon and it's high amount of Omega-3's makes it a great choice for a healthy meal. The whole family loved the great flavor.
                </div>
                <div id="stars">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>                    
                       
                    </div>
                </div>
            </div>
          </div>
</section>
</main> 


<div style="margin-top:100px; "> <%- include('./layout/footer')  %> </div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src='/js/app.js'></script>




 
</body>

    

</html>
