
<%- include('./layout/header')  %> 
<!-- End header -->
<!-- Slide start  -->
<main style="height: 104%;">
    <!-- <base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/"> -->
    <div id="slider">
    <figure>
    <img src="/images/slider/blueberries-2278921_960_720.jpg" alt>
    <img src="/images/slider/coffee-3120750_960_720.jpg" alt>
    <img src="/images/slider/food-712665_960_720.jpg" alt>
    <img src="/images/slider/pastries-756601_960_720.jpg" alt>
    <img src="/images/slider/raspberries-2023404_960_720.jpg" alt>
    </figure>
    </div>


    <!-- start recipes -->
    <!-- first one  -->
    <!-- <section class="salad">
        <div><img src="images/salad.jpg" alt="" srcset=""></div>
        <div class="salad-back">
            <h2>Recipes Section</h2>
        </div>
        <div class="saladdesc">
            <h2>SALAD</h2>
            <p>The truth is, eating salad will generally help you live longer, and it’s not even in dispute.
                Additional benefits of fiber is that it can lower blood pressure and reduce bad cholesterol levels.</p>
            <form class="searchForm" action="/searches/new" method="POST">
                <input hidden name="searchWay" value="salad">
                <button class="recipebtn" type="submit">show more ...</button>
            </form>
        </div>
    </section>
    <!-- second one  -->
    <!-- <div class="appe-">
        <div class="onepeice">
            <img src="images/appei.jpg" alt="" srcset="">
            <div class="appetizers-desc">
                <h2>Appetizers</h2>
                <p>Use as an appetizer when eating.
                    Helps to fill the stomach when eating before starting to eat the main meal, which man feels full,
                    which
                    limits the intake of foods that increase the body mass.
                </p> -->
                <!-- <form class="searchForm" action="/searches/new" method="POST">
                    <input hidden name="searchWay" value="appetizer">
                    <button class="recipebtn" type="submit">show more ...</button>
                </form>
            </div>
        </div> -->
        <!-- <div class="onepeice">
            <img src="images/drinks.jpg" alt="" srcset="">
            <div class="appetizers-desc">
                <h2>Drinks</h2>
                <p>Fresh juice floods your body with antioxidants that boost your immune system.
                </p>
                <form class="searchForm" action="/searches/new" method="POST">
                    <input hidden name="searchWay" value="drink">
                    <button class="recipebtn" type="submit">show more ...</button>
                </form>
            </div>
        </div> -->
    <!-- </div> -->
    <!-- <hr id="a">
    <section class="desserts">
        <!-- <img src="images/desserts.png" alt="" srcset=""> -->
        <!-- <img src="images/desserts2.png" alt="">
        <div>
            <h2>Desserts</h2>
            <p>Dessert is not only delicious, but it also helps you keep a balanced diet. Eating healthy doesn't mean
                only eating tons of vegetables. In fact, dessert can actually help you receive your daily amount of
                required nutrients.
            </p> --> 
            <!-- <form class="searchForm" action="/searches/new" method="POST">
                <input hidden name="searchWay" value="dessert">
                <button class="recipebtn" type="submit">show more ...</button>
            </form>
        </div>
    </section>
    <hr id="b">

    <section class="bread">
        <div class="breadback"></div>
        <div class="breckfastimgs">
            <img src="imgSam/img (1).jpg" alt="">
            <img src="imgSam/img (23).jpg" alt="">
        </div> -->
        <!-- <form class="searchForm" action="/searches/new" method="POST">
            <input hidden name="searchWay" value="bread">
            <button class="recipebtn breadbtn" type="submit">Bread</button>
        </form>
        <form class="searchForm" action="/searches/new" method="POST">
            <input hidden name="searchWay" value="breakfast">
            <button class="recipebtn breackfastbtn" type="submit">Breackfast</button>
        </form> -->
    <!-- </section>

    <section class="tastiesfood">
        <h2>Which is the tastiest food?</h2>
        <p>The world's most delicious food is a cheesy, spicy, Pizza dish from Italy. "There is no love sincerer than
            the love of food," George Bernard Shaw said. Judging by the number of amazing dishes out there, he was
            right.</p>
    </section> -->

    <!-- <div class="lastimg">
        <img src="images/pizza.jpg" alt="">
    </div> -->
</main> 


<footer>
    <!-- <ul class="footerli">
        <li> <a href="https://www.yahoo.com"><i class="fas fa-envelope-square fig"></i></a></li>
        <li> <a href="https://www.twitter.com"><i class="fab fa-twitter fig"></i></a></li>
        <li> <a href="https://www.github.com"><i class="fab fa-github-alt fig"></i></a></li>
        <li> <a href="https://www.linkedin.com"><i class="fab fa-linkedin fig"></i></a></li>
    </ul>
    <p> &copy;</p> -->
</footer>

</body>

</html>