<%- include('./layout/header')  %> 

<div style="margin-top: 22%;">
    <form action="/nutrition" method="post">
        <select name="searchBy" id="searchBy" class="input">
            <option value="maxCarbs">maxCarbs</option>
            <option value="minCarbs">minCarbs</option>
            <option value="minProtein">minProtein</option>
            <option value="maxProtein">maxProtein</option>
            <option value="maxCalories">maxCalories</option>
            <option value="maxFat">maxFat</option>
        </select>
        <input type="number"  name="value" placeholder="Enter value" id="value" >
        <button type="submit">Search</button>
    </form>
    </div>
</body>
</html>