*
{
  font-family: poppins;
}


.heading
{
  margin-top: 50px;
  font-weight: 800;
  font-size: xxx-large;
  text-align: center;
  color: white;
}



body
{
  margin: 0;
  padding: 0;
   /* background: url("https://cdn.pixabay.com/photo/2018/03/29/19/34/northern-lights-3273425_960_720.jpg");  */
  /* background: url("https://cdn.pixabay.com/photo/2017/07/01/19/48/background-2462434_960_720.jpg"); */
  background: url("https://images.pexels.com/photos/3609832/pexels-photo-3609832.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  /* "https://images.pexels.com/photos/3609832/pexels-photo-3609832.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" */
  background-color: beige;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


#containerOfCards
{
    /* margin-top: 100px; */

}

.Profilecard
{
    
  width: 290px;
  height: 330px;
  padding: 10px;
  /* margin-right: 30px; */
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
position: absolute;
  top: 70%;
  left: 25%; 
  transform: translate(-50%, -50%);
  transition: 0.4s all;
}

.Profilecard img
{
  width: 150px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-top: 20px;
}

.Profilecard h2
{
  color: #fff;
  font-weight: normal;
  font-size: 25px;
  line-height: 1.5;
}

.Profilecard p
{
  color: #fff;
  text-align:center;
  font-size: 15px;
  line-height: 1.5;
  padding-bottom: 20px;
}

.Profilecard button
{
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 22px;
  border-radius: 50%;
  border: none;
  margin-right: 10px;
  color: #fff;
  transition: 0.4s all;
  cursor: pointer;
  
}

/* 1 */

.Profilecard1
{
  width: 290px;
  height: 330px;
  padding: 10px;
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
 position: absolute;
  top: 70%;
  left: 50%; 
  transform: translate(-50%, -50%);
  transition: 0.4s all;
}

.Profilecard1 img
{
  width: 150px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-top: 20px;
}

.Profilecard1 h2
{
  color: #fff;
  font-weight: normal;
  font-size: 25px;
  line-height: 1.5;
}

.Profilecard1 p
{
  color: #fff;
  text-align:center;
  font-size: 15px;
  line-height: 1.5;
  padding-bottom: 20px;
}

.Profilecard1 button
{
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 22px;
  border-radius: 50%;
  border: none;
  margin-right: 10px;
  color: #fff;
  transition: 0.4s all;
  cursor: pointer;
}

/* 2 */

.Profilecard2
{
  width: 290px;
  height: 330px;
  padding: 10px;
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
 position: absolute;
  top: 70%;
  left: 75%; 
  transform: translate(-50%, -50%);
  transition: 0.4s all;
}

.Profilecard2 img
{
  width: 150px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-top: 20px;
}

.Profilecard2 h2
{
  color: #fff;
  font-weight: normal;
  font-size: 25px;
  line-height: 1.5;
}

.Profilecard2 p
{
  color: #fff;
  text-align:center;
  font-size: 15px;
  line-height: 1.5;
  padding-bottom: 20px;
}

.Profilecard2 button
{
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 22px;
  border-radius: 50%;
  border: none;
  margin-right: 10px;
  color: #fff;
  transition: 0.4s all;
  cursor: pointer;
}

/* 3 */

.Profilecard3
{
  width: 290px;
  height: 330px;
  padding: 10px;
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
 position: absolute;
  top: 130%;
  left: 40%; 
  transform: translate(-50%, -50%);
  transition: 0.4s all;
}

.Profilecard3 img
{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-top: 20px;
}

.Profilecard3 h2
{
  color: #fff;
  font-weight: normal;
  font-size: 25px;
  line-height: 1.5;
}

.Profilecard3 p
{
  color: #fff;
  text-align:center;
  font-size: 15px;
  line-height: 1.5;
  padding-bottom: 20px;
}

.Profilecard3 button
{
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 22px;
  border-radius: 50%;
  border: none;
  margin-right: 10px;
  color: #fff;
  transition: 0.4s all;
  cursor: pointer;
}

/* 4 */

.Profilecard4
{
  width: 290px;
  height: 330px;
  padding: 10px;
  background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
 position: absolute;
  top: 130%;
  left: 65%; 
  transform: translate(-50%, -50%);
  transition: 0.4s all;
}

.Profilecard4 img
{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-top: 20px;
}

.Profilecard4 h2
{
  color: #fff;
  font-weight: normal;
  font-size: 25px;
  line-height: 1.5;
}

.Profilecard4 p
{
  color: #fff;
  text-align:center;
  font-size: 15px;
  line-height: 1.5;
  padding-bottom: 20px;
}

.Profilecard4 button
{
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 22px;
  border-radius: 50%;
  border: none;
  margin-right: 10px;
  color: #fff;
  transition: 0.4s all;
  cursor: pointer;
}