*{
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    color: #dc2f02;
    font-weight: bold;

}
h2{
    /* margin-left: 590px; */
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color:  #0A7029;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    
}
.formDiv{
  
    position: absolute;
    right: 50%;
    top: 0;
    transform: translate(44%, 50%);
}
/* .backDiv{
    background-size: cover;
    background-position: center;


} */
.fieldDiv{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: 10px;
    margin-left: 20px;

}
button{
    width: 150px;
    /* margin-left: 670px; */
    margin-top: 30px;
    height: 35px;
    border-radius: 5px;
    background-color:  #0A7029;
    color: white;
    border: solid #0A7029;
    font-weight: bold;
}
/* .fieldDiv input{
    margin-left: 50px;
} */
.fieldDiv .input0{
   
    height: 50px;

}
.fieldDiv .input1{
    
    height: 50px;

}
.fieldDiv .input2{
  
    height: 100px;
}
.fieldDiv .input3{
   
    height: 50px;
}

input{
    width: 317px;
    border-radius: 5px;
    border: solid  #0A7029;
}
.label0{
    font-size: 23px;
    margin-left: 25px;
}
.label1{
    font-size: 23px;

    margin-left: 15px;
}
.label2{
    font-size: 23px;

    margin-left: 55px;

}
.label3{
    font-size: 23px;

    margin-left: 15px;
}
#addedRecipies img{
    height: 400px;
    width: 550px;
}
#addedRecipies{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-left: 120px;
    position: absolute;
    bottom: 90px;
    left: 200px; 
}
#addedRecipies h3, img, h4, p{
    margin-bottom: 10px;
}
#addedRecipies p{
    text-align: justify;
    width: 700px;
}
#addedRecipies h3{
    font-size: large;
    margin-bottom: 20px;
}
.backg{
    width: 100%;
    /* background-image: url("/images/test13.jpg"); */
    display: grid;
    grid-template-columns: repeat(2,50%);
    justify-items: center;
    color:white;
    z-index: -1;
}
.backg div{
    width: 60%;
   
}
.backg div img{
   
    height: 62%;
   
}

.backgroundIMG{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    top: 200px;
    left: 50px;

}

main{

    position: relative;

}
.backgroundImage
{

    position: absolute;
    height: 100%;
    width:100%;

}

.reslut
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 35px;
    
    
}


.cardDiv div > *
{
    width: 80%;
    text-align: center;
    margin: 5% auto;
}
.cardDiv div
{
    background-image: url('../imgSam/jh.png');
    background-position: center;
    background-size: cover;
    margin: 4% 0;
     border: solid; 
     border-radius: 50px; 
     border-color: #737975;
     box-shadow: 0px 1px 24px 5px black;
}
.cardDiv 
{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 45%;
    /* border: solid; */
    margin: 20px;
    /* padding: 40px; */
    align-items: center;
    /* border-radius: 50px; */
    /* border-color: #737975; */
    transition: box-shadow 0.2s ease-in-out;
    

    
    
      /*background: linear-gradient(124deg, #D8F3DC, #B7E4C7, #95D5B2, #74C69D, #52B788, #52B788, #D8F3DC, #74C69D, #74C69D);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 7s ease infinite;
    -z-animation: rainbow 7s ease infinite;
    -o-animation: rainbow 7s ease infinite;
      animation: rainbow 7s ease infinite;}
    @-webkit-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-moz-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-o-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%} */
        
    
}

.ingr
{
    font-size: large;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
}

.imgDiv{
    width: 500px;
    height: 300px;
    margin: 10px 0;
    border-radius: 30px; 
    border-color: #737975; 
    
 
    
}
.text
{
    text-align: justify;
    color: black;
    font-size: medium;
}

.text1
{
    text-align: justify;
    color: black;
    font-size: 2larger;
}