*{
    box-sizing: border-box;
}

body{
    width: 100%;
}

main{

    background-image: url("https://cdn.pixabay.com/photo/2017/02/15/10/38/background-2068215_960_720.jpg");
     /* background-image: url("/images/Guess.jpg"); */
     background-position:center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
     width: 100%;
}

.Guess:hover{
  background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,.5));
}
.Guess
{
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,.7));
  
  position: absolute;
  top: 50%;
  left: 57%;
  font-family: 'Lora', serif;
  animation: form 0.5s;
  background-color: rgba(255, 255, 255, 0.288);
  padding: 47px;
  border-radius: 22px;
  font-size: larger;
}
::placeholder
{
  font-size: large;
}
legend
{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: xx-large;
    color: #0A7029;
    text-align: center;
    margin-right: 5px;

}
input 
{
    width: 250px;
    height: 45px;
    font-weight: bolder;
    border: solid 2px #0A7029;
    font-family: 'Lora', serif;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;

}
button
{
    background-color:  #0A7029;
    border:solid 3px #0A7029;
    color: white;
    width: 250px;
    height: 37px;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Domine', serif;
}
 h3
 {
   color: white;
 }

@keyframes form {
    0% {
      left: 300%;
      animation-timing-function: ease-in;
    }
  
    30% {
      left: 80%;
      animation-timing-function: ease-out;
    }
  }

  .reslut
  {
     text-align: center;
      font-size: large;
      position: absolute;
      top:25%;
      left:63%;
      
  }

  .reslut p{
    color: rgb(239 230 165);
  }