*{
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
main{
    /* background-image: url("/images/test7.jpg"); */
    background-position:center;
   /* background-repeat: no-repeat; */
   background-size: cover;
    /* background-color: black;
    z-index: -1; */
    height: 100vh;
    width: 100%;
    

}

.backgroundImage{
    width: 100%;
    height: 100vh;
}
.overLaying{
    
    /* height: 100%;
    opacity: .9; */

}
.containerForm{
    position:relative;
    right: 70px;
    bottom: 540px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    animation: form 1s;
    font-family: 'Lora', serif;


}
form input 
{
    width: 400px;
    height: 50px;
    margin-left: 130px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    font-weight: bold;
    border: solid 2px #0A7029;
    font-family: 'Lora', serif;


}
form  {
    /* background-color: #adadab; */
    padding: 40px;
    /* margin: 50px 0; */
    border-radius: 40px;
    font-family: 'Lora', serif;

    
  }


  h4 {
    display: block;
    font-family: 'Irish Grover', cursive;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center; 
    font-family: 'Domine', serif;

    }  

form select{
    width: 400px;
    height: 50px;
    margin-left: 130px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    font-weight: bold;
    border: solid 2px #0A7029;
    font-family: 'Lora', serif;


}
form h4{
    margin-bottom: 15px;
    color: #0A7029;
    animation: text-glow 2s ease-out infinite alternate;
    font-size: xx-large;
    font-weight:bold;
    margin-left: 130px;
    margin-bottom: 20px;
        
}


select option{
    border:solid 3px #0A7029;
    background-color: #d8f3dc;
    cursor: pointer;
    background-color: transparent;
    font-family: 'Lora', serif;

}

button{
    background-color:  #0A7029;
    border:solid 3px #0A7029;
    color: white;
    width: 400px;
    height: 50px;
    margin-left: 130px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Domine', serif;


}

@keyframes form {
    0% {
      left: 300%;
      animation-timing-function: ease-in;
    }
  
    30% {
      left: 80%;
      animation-timing-function: ease-out;
    }
  }
