*{
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.imgDiv{
    width: 250px;
    height: 400px;
}
