*{
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    
}
main{
    /* background: url("/images/test8.jpg"); */

    display: flex;
    flex-direction: row;
    width: 100%;
    /* background-image: url("https://images.pexels.com/photos/6496462/pexels-photo-6496462.jpeg?cs=srgb&dl=pexels-jana-kukebal-6496462.jpg&fm=jpg"); */
    /* background-image: url("https://cdn.pixabay.com/photo/2016/03/27/07/32/clouds-1282314_960_720.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
  
}

.imgDiv{
    width: 500px;
    height: 300px;
    margin: 10px 0;
    border-radius: 30px; 
    border-color: #0A7029; 
    
 
    
}
.cardDiv 
{
    background: url("/images/test8.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    border: solid;
    margin: 20px;
    padding: 40px;
    align-items: center;
    border-radius: 50px;
    border-color: transparent;
    transition: box-shadow 0.2s ease-in-out;
    

    
    
     box-shadow: 0 0 8px 0 rgb(17 22 26 / 16%),0 4px 8px 0 rgb(17 22 26 / 8%), 0 8px 16px 0 rgb(17 22 26 / 8%);
    /*background: linear-gradient(124deg, #D8F3DC, #B7E4C7, #95D5B2, #74C69D, #52B788, #52B788, #D8F3DC, #74C69D, #74C69D);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 7s ease infinite;
    -z-animation: rainbow 7s ease infinite;
    -o-animation: rainbow 7s ease infinite;
      animation: rainbow 7s ease infinite;}
    @-webkit-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-moz-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @-o-keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%}
    }
    @keyframes rainbow {
        0%{background-position:0% 82%}
        50%{background-position:100% 19%}
        100%{background-position:0% 82%} */
        
    
}
.text
{
    text-align: justify;
    
}
span
{
    font-weight: bold;
    font-size: large;
    color: #0A7029;
    font-family: 'Domine', serif;

}
.ingr
{
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 20px;
    color: #0A7029;
    font-family: 'Domine', serif;

}
.reslut
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 35px;
    
    
}

p{
    font-size: medium;
    font-family: 'Lora', serif;
    line-height: 25px;
    font-weight:400;

}

@keyframes main {
    0% {
      left: 300%;
      animation-timing-function:ease-in;
    }
  
    30% {
      left: 80%;
      animation-timing-function: ease-out;
    }
  }


