*{
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    
}
main{
    /* background: url("/images/test8.jpg"); */

    display: flex;
    flex-direction: row;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
  
}

.imgDiv{
    width: 500px;
    height: 300px;
    margin: 10px 0;
    border-radius: 30px; 
    border-color: #0A7029; 
    
 
    
}
.cardDiv 
{
   
    background: url("https://cdn.pixabay.com/photo/2016/02/25/15/55/texture-1222375_960_720.jpg");
    /* background: url("/images/x.jpg"); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
    border: solid;
    margin: 20px;
    padding: 40px;
    align-items: center;
    border-radius: 50px;
    border-color: transparent;
    transition: box-shadow 0.2s ease-in-out;
    
     box-shadow: 0 0 8px 0 rgb(17 22 26 / 16%),0 4px 8px 0 rgb(17 22 26 / 8%), 0 8px 16px 0 rgb(17 22 26 / 8%);

        
    
}
.sum
{
    color: rgb(6, 78, 12);

}
.text
{
    text-align: justify;
    color: black;
    font-weight: bold;
    
}
span
{
    font-weight: bold;
    font-size: large;
    color: rgb(241, 239, 239);
    font-family: 'Domine', serif;

}
.ingr
{
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 20px;
    color:rgb(6, 78, 12);
    font-family: 'Domine', serif;

}
.reslut
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 35px;
    
    
}

p{
    font-size: medium;
    font-family: 'Lora', serif;
    line-height: 25px;
    font-weight:400;

}

@keyframes main {
    0% {
      left: 300%;
      animation-timing-function:ease-in;
    }
  
    30% {
      left: 80%;
      animation-timing-function: ease-out;
    }
  }


